<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YOGA REVY SETIADI
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="menu-button">
      <ion-button *ngFor="let item of menus" [routerLink]="item.route" slot="end" fill="{{(aktip==item.id) ? 'solid' : 'clear'}}" expand="block" shape="round" color="dark" (click)="clickMenu(item)">
        {{item.menu}}
      </ion-button>
  </ion-toolbar>
</ion-header>