<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" align="center">
        <h1>SKILLS</h1>
        <ion-label>
          This is a skill that I have learned so far.
        </ion-label>
        <ion-item-divider>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-html5"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  HTML 5
                  <ion-progress-bar color="primary" value="1"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-css3"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  CSS 3
                  <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-javascript"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  Javascript
                  <ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-laravel"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  Laravel
                  <ion-progress-bar color="primary" value="0.6"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-github"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  Github
                  <ion-progress-bar color="primary" value="0.6"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="logo-nodejs"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  Node JS
                  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon class="icon-mysql"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  MySQL
                  <ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-icon class="icon-postgres"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  PostgreSQL
                  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
