<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" align="center">
        <h1>WORK EXPERIENCE</h1>
        <ion-label>
          This is my work experience so far.
        </ion-label>
        <ion-item-divider>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="dataWork">
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aug 2015 - Sep 2015</ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="width:100%;height:100%;"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  CV. Passion IT
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            First working at company as intership collage in one month as web developer creating simple web application.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Jul 2018 - Nov 2019</ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-img src="../../assets/image/nts.jpg" style="width:100%;height:100%;"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  CV. Newtronic Solution
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Working as RND division creating web application. Mostly focused in front-end development and build some project web applications.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Nov 2019 - Now</ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-img src="../../assets/image/perlu.jpg" style="width:100%;height:100%;"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  PT. Pasifica Raya Technology
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Working as back-end developer for mobile applications project and focused in front-end development for web applications sometimes.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!dataWork">
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width:47%;height: 17%;"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-skeleton-text animated style="width:100%;height:100%;"></ion-skeleton-text>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  <ion-skeleton-text animated style="width:55%;height: 25%;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width:47%;height: 20%;"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width:47%;height: 17%;"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-skeleton-text animated style="width:100%;height:100%;"></ion-skeleton-text>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  <ion-skeleton-text animated style="width:55%;height: 25%;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width:47%;height: 20%;"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width:47%;height: 17%;"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <ion-skeleton-text animated style="width:100%;height:100%;"></ion-skeleton-text>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  <ion-skeleton-text animated style="width:55%;height: 25%;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="height: 20%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width:47%;height: 20%;"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
