<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YOGA REVY SETIADI
    </ion-title>

    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      HI!
    </ion-button>
    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      ABOUT ME
    </ion-button>
    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      WORK EXPERIENCE
    </ion-button>
    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      PORTOFOLIO
    </ion-button>
    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      SKILLS
    </ion-button>
    <ion-button slot="end" (click)="onClick()" expand="block" fill="clear" shape="round">
      CONTACT
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <div id="welcome">
          <ion-img src="../../assets/image/welcome.svg" style="width:90%;margin-left: 14px;"></ion-img>
        </div>
      </ion-col>

      <ion-col size="12" size-sm>
        <div id="nama">
          <p>I am</p>
          <strong id="my_name">YOGA REVY SETIADI</strong>
          <br>
          <span>BACK-END & FRONT-END WEB DEVELOPER</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
